body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 10px;
    background-color: #f4f5f7;
    width: 470px;
}

#product-details {
    width: calc(100% - 20px);
    padding: 10px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

#product-details h1 {
    font-size: 16px;
    margin: 0 10px 10px 10px;
    color: #333;
}

#product-details p {
    margin: 0 8px 10px 10px;
    font-size: 14px;
    color: #666;
}

.button-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
}

/* .button-group button {
    flex-grow: 1;
    padding: 12px;
    font-size: 1em;
    background-color: #176087;
    border: none;
    color: whitesmoke;
    cursor: pointer;
    border-radius: 5px;
    text-align: center; /* wyśrodkowanie tekstu horyzontalnie */
    /* line-height: 40px; wyśrodkowanie tekstu wertykalnie */
    /* transition: background-color 0.3s ease; */
    /* margin: 0 4px; */
/* } */

.button-group button:hover {
    background-color: #53a2be;
    color: whitesmoke;
}

.dark-mode-toggle {
    display: flex;
    align-items: center;
}

.dark-mode-toggle label {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.dark-mode-toggle input {
    position: relative;
    width: 50px;
    height: 24px;
    appearance: none;
    background-color: #ccc;
    border-radius: 24px;
    outline: none;
    transition: background-color 0.3s;
}

.dark-mode-toggle input:checked {
    background-color: #3f1a74;
}

.dark-mode-toggle input:before {
    content: url('icons/day-sunny-icon.png');
    position: absolute;
    width: 24px;
    height: 24px;
    background-color: #fff;
    border-radius: 50%;
    top: 0;
    left: 2px;
    transition: transform 0.3s;
    text-align: center;
    line-height: 24px;
}

.dark-mode-toggle input:checked:before {
    transform: translateX(26px);
    content: url('icons/moon-line-icon.png');
}
table {
    width: 100%;
    border-collapse: collapse;
    margin: 10px 0;
    table-layout: fixed;
}

table,
th,
td {
    border: 2px solid #e0e0e0;
}

th,
td {
    border: 2px solid #e0e0e0;
    padding: 8px;
    text-align: left;
    word-wrap: break-word; /* Dodane, aby zapobiec przepełnieniu tekstu */
    white-space: pre-line; /* Dodane, aby zachować formatowanie tekstu */
}
th:nth-of-type(1) {
    width: 30%;
    max-width: 35%;
    white-space: pre-line;
}

th:nth-of-type(2),
th:nth-of-type(3),
th:nth-of-type(4),
th:nth-of-type(5) {
    width: auto;
    max-width: 35%; /* Procent może być dostosowany */
    white-space: pre-line;
}
th:nth-of-type(6) {
    width: auto;
    max-width: 5%;
    white-space: pre-line;
}
thead {
    background-color: #e9ecef;
}

thead th {
    font-weight: 600;
    color: #555;
    line-height: 1.2em; /* Ustaw wysokość linii */
    max-height: 2.4em; /* Ustaw maksymalną wysokość (2 linie) */
    white-space: pre-line;
}

tbody tr:nth-child(odd) {
    background-color: #f8f9fa;
}
thead {
    background-color: #e9ecef;
}

thead th {
    font-weight: 600;
    color: #555;
}

tbody tr:nth-child(odd) {
    background-color: #f8f9fa;
}

.switch {
    display: flex;
    align-items: center;
}

.switch input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.switch label {
    position: relative;
    display: block;
    width: 60px;
    height: 34px;
    cursor: pointer;
}

.switch label::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #ccc;
    border-radius: 34px;
    transition: background-color 0.3s;
}

.switch label::after {
    content: url('icons/day-sunny-icon.png');
    position: absolute;
    top: 4px;
    left: 4px;
    width: 26px;
    height: 26px;
    background-color: white;
    border-radius: 50%;
    transition: transform 0.3s;
    text-align: center;
    line-height: 26px;
    font-size: 1.2em;
}

.switch input:checked + label::before {
    background-color: #3f1a74;
}

.switch input:checked + label::after {
    content: url('icons/moon-line-icon.png');
    transform: translateX(26px);
}

body.dark-mode {
    background-color: #121212;
    color: #e0e0e0;
}

body.dark-mode #product-details {
    background-color: #242424;
}
body.dark-mode #product-details #product-name {
    color: #c0c0c0;
}
body.dark-mode #product-details p {
    color: #b5b5b5;
}

body.dark-mode .button-group button {
    background-color: #132e32;
}

body.dark-mode .button-group button:hover {
    background-color: #53a2be;
    color: whitesmoke;
}

body.dark-mode table,
body.dark-mode th,
body.dark-mode td {
    border-color: #444;
}

body.dark-mode thead {
    background-color: #333;
}

body.dark-mode thead th {
    color: #b5b5b5;
}

body.dark-mode tbody tr:nth-child(odd) {
    background-color: #333;
}
body.dark-mode .button-group .delete-icon img {
    filter: invert(1);
}
body.dark-mode a {
    color: #a8dadc; /* Jasny niebieski kolor dla linków w trybie ciemnym */
}
.action-button {
    width: 100px; /* stała szerokość */
    height: 40px; /* stała wysokość */
}
.action-button {
    width: 100px; /* stała szerokość */
    height: 40px; /* stała wysokość */
    margin: 0 5px; /* mniejsze marginesy między przyciskami */
    padding: 0; /* usunięcie wewnętrznego marginesu */
    border-radius: 5px; /* mniejsze zaokrąglenia */
    text-align: center; /* wyśrodkowanie tekstu horyzontalnie */
    line-height: 40px; /* wyśrodkowanie tekstu wertykalnie */
    background-color: #176087;
    border: none;
    color: whitesmoke;
    cursor: pointer;
    box-sizing: border-box; /* dodane, aby padding nie wpłynął na wymiary */
    transition: background-color 0.3s ease;
}
.action-button:hover {
    background-color: #53a2be;
}
.action-button:active {
    background-color: #176087;
}